@import "tailwindcss";

:root {
  font-family:monospace;
}

input {
  font-family: monospace;
  padding:0.25rem;
}

.box {
  padding: 0.25rem;
  box-shadow: 0.25rem 0.25rem black;
}

.box_border {
  border: 1px solid black;
}